{% extends 'layout.twig' %}

{% block body %}
<div class="card-body">
  <h1>Cadastrar Notícia</h1>
  <p></p>
  <form class="form-group" action="cadastrarNoticia" method="post">
    <label for="labelNomeNoticia">Titulo da Notícia</label>
    <br>
    <input type="text" name="titulo" value="" placeholder="Titulo">
    <br>
    <label for="labelCorpodaNoticia">Corpo da Notícia</label>
    <br>
    <textarea name="corpoDaNoticia"  class="form-control" rows="8"></textarea>
    <br><br>
    <button type="submit" name="submeterNoticia" class="btn btn-primary btn-lg">Submeter</button>
  </form>
</div>

{% endblock %}
