{% extends 'layout.twig' %}

{% block body %}
<p></p>
<div id="telaFaleConosco">
  <h1>Fale Conosco</h1>
  <h2>Duvida</h2>
  <h3>Nickname</h3>
  <input type="text" name="nickname">
  <h3>Email</h3>
  <input type="email" name="email">
  <h3>Comentário</h3>
  <textarea name="comentario" rows="8" cols="50%"></textarea>
</div>

{% endblock %}
