<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale = 1.0, user-scalable = no" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
  </head>
  <body>

    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.2.2/firebase-app.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
         https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/7.2.2/firebase-analytics.js"></script>
    <script src="public/javascript/fire.js"></script>
    <script src="public/javascripts/authentication.js"></script>


    <nav id="menu">
      <ul>
        <li id="menuleft"><a href="/">SITE</a></li>
        <li><a href="/">Home</a></li>
        <li><a href="/galeria">Galeria</a></li>
        <li> <a href="funcionarios">Funcionários</a> </li>
        <li> <a href="diretorias"> Diretorias </a> </li>
        <li><a href="/faleConosco">Fale Conosco</a></li>
        <li> <a href="login">Login</a></li>
      </ul>
    </nav>
    {% block body %}{% endblock %}

    <footer ><img src="images/1086.jpg" alt="instagram" height = '40px' width = '150px'><br><a href="https://www.instagram.com/juati.ufpi/">
      @juati.ufpi</a></footer>
  </body>
</html>
