body {
  padding: 5px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #fffafa;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

a {
  color: #FDD10E;
}

html{
  height: 100%;
  min-height: 100%;
}

#menu{
  color: #FDD10E;
  background-color:#323232;
  border-radius: 5px;
  padding: 30px;;
  text-align: right;
}

#menu ul{
  padding: 0px;
}

#menu ul li{
  list-style: none;
  font-size: 20px;
  display: inline;
  padding: 10px;
}

#menu ul li a{
  text-decoration: none;
}

#menu ul li a:link{
  color: #FDD10E;
}

#menu ul li a:visited{
  color: inherit;
}

#menu ul li:hover{
  background-color: #272727;
  padding: 10px;
  border-radius: 5px;
}

#telaFaleConosco{
  margin-top: 20px;
  position: relative;
  padding: 30px;
  width: auto;
  border-radius: 5px;
  background-color: #ddd9ce;
  margin: 0 auto;
}

#telaFaleConosco h1{
  text-align: center;
}

#telaLogin{
  margin-top: 20px;
  position: relative;
  padding: 30px;
  width: auto;
  border-radius: 5px;
  background-color: #ddd9ce;
  margin: 0 auto;
}

#telaLogin h1{
  text-align: center;
  font-size: 30px;
}


footer{
  margin-top: auto;
  padding: 25px;
  color: #ffffff;
  border-radius: 5px;
  font-size: 14px;
  background-color: #323232;
  text-align: center;
  position:inherit;
}

footer a{
  text-decoration: none;
  color: #FDD10E;
}

textarea{
  width: 80%;
}

#mostrarNoticias{
  border-radius: 2px;
  background-color: #f8f8ff;
}

#mostrarNoticias h3{
  margin-left: 8px;
}
#mostrarNoticias label{
  margin-left: 8px;
}
#vazio{
background-color: #fffafa;
}
